* style {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(3pic.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.menu-bar {
    background: #073942;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: rgb(235, 243, 240);
}

.menu-bar .fa {
    margin-left: 8px;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
    display: block;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: absolute;
}

.menu-bar ul li ul li {
    display: block;
}

.active,
.menu-bar ul li:hover {
    background: darkslateblue;
    border-radius: 3px;
}

.section {
    background-color: #ffffff;
    padding: 12px;
    font-size: large;
    width: 120px;
    margin-left: 100px;
}

footer {
    background-color: rgb(172, 111, 202);
    font-size: 30px;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    font-family: fantasy;
}

.section section {
    background-color: #2bab2b;
    padding: 12px;
    font-size: large;
    width: 120px;
    margin-left: 100px;
}

body h1 {
    padding: 30px;
    transition: all;
    text-align: center;
    font-size: xx-large;
    margin-right: 100px;
    color: darkcyan;
}

body h2 {
    padding: 20px;
    text-decoration: underline;
    color: darkcyan;
    width: auto;
}

body section {
    padding: 20px;
    text-size-adjust: 100px;
    text-align: center;
    font-size: larger;
}

body p {
    padding: 10px;
    text-align: left;
    font-weight: 400;
    font-style: normal;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li :hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: #2bab2b;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li :hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li :hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    background: transparent;
    text-align: left;
    border-radius: 0;
}